*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px; 
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    padding: 15px 0;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    border-radius: 2px;
    position: relative;
    color: #fff;
}
li::after{
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    left: 50px;
    height: 100%;
    background-color: #fff;
}
li img{
    position: absolute;
    content: '';
    display: block;
    width: 18px;
    height: 20px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
/* li::before{
    position: absolute;
    content: '';
    display: block;
    width: 18px;
    height: 20px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    background: url(./basket.svg);
    cursor: pointer;
} */
input[type=checkbox]{
    display: block;
    width: 50px;
    border-right: 1px solid #fff;
    margin-right: 10px;
    cursor: pointer;
}
.red{
    background-color: #e76c6c;
}
.pink{
    background-color: #e775de;
}
.violet{
    background-color: #a084ec;
}
.blue{
    background-color: #659ff7;
}
.green{
    background-color: #69ce9f;
}
.yellow{
    background-color: #fdcf00;
}


.additem{
    margin-top: 10px;
    width: 100%;
    position: relative;
}

.additem__input{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    outline: none;
}
.additem__wrapper{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}
.additem__color{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.activeColor{
    outline: 2px double rgb(209, 200, 200);
}
button{
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    padding: 5px;
    background-color: rgb(17, 150, 110);
    border: none;
    border-radius: 2px;
    outline: none;
    color: #fff;
    cursor: pointer;
} 
.checked{
    background: grey !important;
}